Checks: >
  *,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cert*,
  misc-include-cleaner-*,
  readability-identifier-naming,
  readability-named-parameter,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -llvmlibc-*,
  -fuchsia*,
  -altera*,
  -llvm-namespace-comment,
  -hicpp-uppercase-literal-suffix,
  -llvm-include-order,
  -modernize-use-trailing-return-type,
  -google-readability-todo,
  -bugprone-easily-swappable-parameters,
  -google-explicit-constructor,
  -hicpp-special-member-functions,
  -hicpp-signed-bitwise,
  -misc-non-private-member-variables-in-classes,
  -cert-err58-cpp,
  -hicpp-no-array-decay,
  -misc-include-cleaner,
  -llvm-header-guard,
  -readability-misleading-indentation,
  -modernize-use-nodiscard,
  -misc-no-recursion,
  -cppcoreguidelines-init-variables,
  -boost-use-ranges,
  -cppcoreguidelines-owning-memory,
  -readability-identifier-length

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: lower_case

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
